
table{
    border: 1px solid  black;
    width: 80%;
    margin: 10px auto;
    table-layout: fixed;
}
table a {
    color: #d0d0f3;
}
table a:hover{
    text-decoration: underline;
}
th, td {
    border: 1px solid black;
    padding: .2rem;
}
.grid-header {grid-area: grid-header;}
.movie-title {grid-area: movie-title;}
.title-input {grid-area: title-input;}
.movie-rating {grid-area: movie-rating;}
.rating-input {grid-area: rating-input;}
.error-message{grid-area: error-message;}
.grid-footer {grid-area: grid-footer;}

.grid-container{
    display: grid;
    grid-template-areas:
            "grid-header grid-header"
            "movie-title title-input"
            "movie-rating rating-input"
            "error-message error-message"
            "grid-footer grid-footer"
;
    border: 1px solid black;
}

.grid-container > div{
    border: 1px solid black;
}

.grid-container input[type = "text"] {
    width: 98%;
    margin: 2px 0;
}
.error p{
    color: red;
}
.hidden{
    display: none;
}